nav {
  display: flex;
  background-color: #fff;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  list-style: none;
  margin: 10px;
  margin-right: 50px;
  padding: 10px;
  margin-top: 55px;
}
li {
  font-size: 20px;
  margin: 10px;
}
ul li a {
  color: var(--main-color);
  text-decoration: none;
  font-size: 25px;
  margin: 15px;
}

li a {
  text-decoration: none;
  color: #272e38;
}
.logout-btn {
  border: none;
  outline: none;
  font-size: 25px;
  background-color: #fff;
  cursor: pointer;
}

.logo {
  width: 120px;
  height: 100px;
  margin: 10px;
  margin-left: 50px;
}
@media screen and (max-width: 600px) {
  ul {
    margin-right: 10px;
  }
  .logo {
    width: 90px;
    height: 80px;
    margin: 10px;
    margin-left: 10px;
  }
}

.cart-qnt {
  background-color: #c82d2d;
  border-radius: 50%;
  color: #fff;
  font-weight: 500;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  position: relative;
  left: 15%;
  top: -20%;
}
