.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
}
.products-list-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
  width: 85%;
  height: auto;
  margin: 50px 0 50px 175px;
  row-gap: 80px;
  column-gap: 0;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.product-card {
  background-color: #fff;
  box-shadow: 0 0 30px var(--second-color);
  border: none;
  border-radius: 8px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.products-off {
  background-color: #c82d2d;
  border-radius: 50%;
  color: #fff;
  font-weight: 500;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  position: relative;
  left: 0;
  top: 0;
  margin-bottom: -12px;
  margin-left: -12px;
}
.product-img {
  height: 200px;
}
.product-name {
  font-size: 18px;
  opacity: 0.6;
  margin-bottom: 12px;
}
.product-price {
  margin-bottom: 12px;
  color: #ef3939;
  font-weight: 800;
  margin-right: 5px;
}
.products-btn {
  margin-bottom: 12px;
  background-color: #fff;
  border-radius: 8px;
  width: 150px;
  height: 40px;
  border: 2px solid var(--second-color);
  cursor: pointer;
}
.products-btn:hover {
  transform: scale(0.97);
}
.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-offprice {
  margin-bottom: 10px;
  font-weight: 500;
  text-decoration: line-through #ef3939;
  margin-left: 5px;
}
@media only screen and (max-width: 1400px) {
  .products-list-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
    width: 85%;
    height: auto;
    margin: 50px 0 50px 175px;
    row-gap: 80px;
    column-gap: 0;
  }
}
@media only screen and (max-width: 800px) {
  .products-list-container {
    display: grid;
    grid-template-columns: 300px;
    gap: 0;
    padding: 10px;
    width: 85%;
    height: auto;
    row-gap: 50px;
    column-gap: 0;
    align-items: center;
    margin: 0;
  }
}

/*hero section styles*/
.hero-container {
  position: relative;
  width: 80%;
  color: #fff;
}
.hero {
  width: 100%;
  height: 65vh;
  border-radius: 12px;
  margin: 90px 0;
}
.hero-container-text {
  position: absolute;
  top: 25%;
  left: 5%;
  color: #fff;
  font-size: 48px;
  font-weight: 950;
}
.hero-container-text2 {
  position: absolute;
  top: 30%;
  left: 5%;
  color: #fff;
  font-size: 48px;
  font-weight: 1000;
  margin-top: 5px;
}
.hero-container-text3 {
  position: absolute;
  top: 40%;
  left: 5%;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}
@media only screen and (max-width: 1000px) {
  .hero-container {
    width: 90%;
    margin: auto;
  }
  .hero {
    width: 100%;
    height: auto;
    border-radius: 12px;
  }
  .hero-container-text2 {
    position: absolute;
    top: 30%;
    left: 5%;
    color: #fff;
    font-size: 48px;
    font-weight: 1000;
    margin-top: 15px;
  }
  .hero-container-text3 {
    position: absolute;
    top: 40%;
    left: 5%;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
  }
}
@media only screen and (max-width: 780px) {
  .hero-container-text {
    position: absolute;
    top: 25%;
    left: 5%;
    color: #fff;
    font-size: 42px;
    font-weight: 900;
  }

  .hero-container-text2 {
    position: absolute;
    top: 30%;
    left: 5%;
    color: #fff;
    font-size: 42px;
    font-weight: 900;
    margin-top: 15px;
  }
  .hero-container-text3 {
    position: absolute;
    top: 40%;
    left: 5%;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
  }
}
@media only screen and (max-width: 650px) {
  .hero-container-text {
    display: none;
  }

  .hero-container-text2 {
    display: none;
  }
  .hero-container-text3 {
    display: none;
  }
}
/*slidebar section styles*/
.slider {
  width: 70%;
  margin: 50px 0;
}
@media only screen and (max-width: 1600px) {
  .slider {
    margin-right: 280px;
  }
}
@media only screen and (max-width: 1300px) {
  .slider {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .slider {
    display: block;
    margin: 50px 0 0 -30px;
  }
}
