.bank-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  padding: 10px;
}

.bank-page-img {
  width: 40%;
  height: 50%;
}
.bank-page-text {
  margin: 60px 0;
  font-size: 24;
}
@media only screen and (max-width: 1100px) {
  .bank-page-img {
    width: 70%;
    height: 30%;
  }
  .bank-page-text {
    margin: 60px 0;
    font-size: 28;
  }
}
